:root {
  /* Colors */
  --primary: #ff5722;
  --primary-hover: #e64a19;


  --bg-dark: #121212;
  --text-main: #ffffff;
  --text-muted: #aaaaaa;

  /* Glassmorphism */
  --glass-bg: rgba(30, 30, 30, 0.65);
  --glass-border: rgba(255, 255, 255, 0.08);
  --glass-blur: 12px;

  /* Shadows */
  --shadow-lg: 0 10px 30px rgba(0, 0, 0, 0.5);

  /* Layout */
  --sidebar-width: 400px;

  /* UI System */
  --btn-radius: 5px;
}